server:
  port: 4000
  forward-headers-strategy: native

spring:
  datasource:
    url: jdbc:mariadb://10.10.40.136:3306/JEDAI_CUBE
    driver-class-name: org.mariadb.jdbc.Driver
    username: pdsw_app
    password: pdswDev136!
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    generate-ddl: false
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  data:
    redis:
      lettuce:
        pool:
          max-active: 10
          max-idle: 10
          min-idle: 2
      host: 10.10.40.139
      port: 6379
      password: nexus!234
      timeout: 2000
  # mvc:
  #   async:
  #     request-timeout: 0

restapi:
  baseurl: http://10.10.40.145:8010

sse:
  timeout: 300000

cors:
  allowed-origins:
    - https://pdsw232.nexuscommunity.kr
    - http://10.10.30.228:8080
    - http://localhost:3000

logging:
  file:
    path: /var/log/nginx
  level:
    root: INFO
    com.nexus.pdsw: DEBUG
    
    # SQL 로그
    org.hibernate.SQL: DEBUG

    # SQL 파라미터 값까지 보고 싶을 때 (Hibernate 5.x)
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE